/**
    ESTO ES UN EJEMPLO ESPERO QUE ALGUIEN VEA ESTE COMENTARIO :V
    
    SI FUE ASI COMENTA "#PIXBITLAND"

    EN UN VIDEO DEL CANAL, AQUI TE LO DEJO:

    

    REVISA MI GITHUB:

    https://github.com/OverZyte/

**/

body {
    background: #393e46;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    width: 300px;
    height: 130px;
}

.pixel {
    width: 10px;
    height: 10px;
    float: left;
    /** box-shadow: 0px 0px 1px #ffffff;**/
}